In [362]:
import numpy as np
from numpy import linalg as LA
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import re
import sys
%matplotlib tk
from mpl_toolkits.mplot3d import axes3d  # Axes3D のために必要

In [291]:
path = "/home/tokoro/Desktop/MicroBeatingRobot/MicroBeatingRobot/Databank"
files_f = glob.glob(path + "/data_displacement_f*.csv")
files_k = glob.glob(path + "/data_displacement_k*.csv")

files_f.sort()
files_k.sort()

df_f_list = []
df_k_list = []

for data_f, data_k in zip(files_f, files_k):
    df_f = pd.read_csv(data_f)
    df_k = pd.read_csv(data_k) 
    id_f = re.findall("f=.*c" ,data_f)
    id_k = re.findall("k=.*c" ,data_k)
    
    df_f = df_f.rename(columns={"displacement_x":"x_" + str(id_f[0])[0:-2],"displacement_y":"y_"+ str(id_f[0])[0:-2] })
    df_k = df_k.rename(columns={"displacement_x":"x_" + str(id_k[0])[0:-2],"displacement_y":"y_"+ str(id_k[0])[0:-2] })
    
    df_f_list.append(df_f)
    df_k_list.append(df_k)

df_f = pd.concat(df_f_list,axis = 1)
df_k = pd.concat(df_k_list,axis = 1)

df = pd.concat([df_f,df_k],axis = 1)

df = df.drop(['step', 'displacement_z'],axis = 1)
df = df.drop(index = 0)
for column_x, column_y in zip(df.filter(like = 'x_'), df.filter(like = 'y_')):
    df[column_x] -= 2
    df[column_y] += 2
    
df

,x_f=0.01,y_f=0.01,x_f=0.012,y_f=0.012,x_f=0.015,y_f=0.015,x_f=0.02,y_f=0.02,x_f=0.05,y_f=0.05,...,x_k=2.0,y_k=2.0,x_k=3.0,y_k=3.0,x_k=4.0,y_k=4.0,x_k=5.0,y_k=5.0,x_k=7.5,y_k=7.5
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,-0.002555,0.003267,-0.002129,0.002723,-0.001704,0.002178,-0.001278,0.001634,-0.000511,0.000653,...,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634
3,-0.005277,0.006626,-0.004376,0.005513,-0.003484,0.004402,-0.002600,0.003296,-0.001031,0.001314,...,-0.002574,0.003282,-0.002577,0.003284,-0.002580,0.003285,-0.002584,0.003287,-0.002592,0.003291
4,-0.008149,0.010054,-0.006732,0.008357,-0.005338,0.006666,-0.003967,0.004984,-0.001560,0.001981,...,-0.003889,0.004945,-0.003898,0.004950,-0.003908,0.004955,-0.003918,0.004960,-0.003943,0.004972
5,-0.011153,0.013528,-0.009187,0.011242,-0.007260,0.008963,-0.005376,0.006696,-0.002099,0.002656,...,-0.005222,0.006621,-0.005241,0.006631,-0.005261,0.006641,-0.005280,0.006651,-0.005328,0.006674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,-11.471532,-0.738152,-7.937550,-0.215913,11.336134,3.587533,16.482990,5.232389,7.652669,1.652658,...,-13.307200,-1.654490,2.835555,0.210451,9.475115,1.271998,12.602673,2.775413,15.538386,4.746238
19997,-11.471531,-0.738155,-7.937547,-0.215913,11.335956,3.590874,16.483540,5.234676,7.653010,1.653376,...,-13.308216,-1.651203,2.835514,0.213473,9.475466,1.274781,12.603010,2.778064,15.538814,4.748674
19998,-11.471530,-0.738158,-7.937544,-0.215912,11.335793,3.594244,16.484101,5.236983,7.653358,1.654102,...,-13.309212,-1.647910,2.835490,0.216507,9.475832,1.277579,12.603360,2.780732,15.539252,4.751130
19999,-11.471528,-0.738161,-7.937541,-0.215911,11.335644,3.597643,16.484672,5.239312,7.653711,1.654837,...,-13.310188,-1.644611,2.835484,0.219553,9.476213,1.280391,12.603723,2.783419,15.539701,4.753606
20000,-11.471527,-0.738163,-7.937538,-0.215910,11.335511,3.601071,16.485254,5.241663,7.654069,1.655579,...,-13.311144,-1.641308,2.835496,0.222610,9.476609,1.283219,12.604099,2.786123,15.540161,4.756102

In [463]:
files_fk = glob.glob(path + "/data_displacement_K*.csv")
files_fk.sort()
df_fk_list = []
for data_fk in files_fk:
    df_fk = pd.read_csv(data_fk)
    
    id_f = re.findall("f=.*c" ,data_fk)
    id_k = re.findall("K=.*c" ,data_fk)
    df_fk = df_fk.rename(columns={"displacement_x":"x_" + str(id_f[0])[0:-2] +"_"+str(id_k[0])[0:5],"displacement_y":"y_"+ str(id_f[0])[0:-2]+"_"+str(id_k[0])[0:-2]})
    
    df_fk_list.append(df_fk)

df_fk = pd.concat(df_fk_list,axis = 1)
df_fk = df_fk.drop(['step', 'displacement_z'],axis = 1)
df_fk = df_fk.drop(index = 0)
for column_x, column_y in zip(df_fk.filter(like = 'x_'), df_fk.filter(like = 'y_')):
    df_fk[column_x] -= 2
    df_fk[column_y] += 2
df_fk_cp = df_fk.copy()
df_fk.loc['mean'] = df_fk.mean()
df_x_fk = df_fk.filter(like = 'x_')
df_y_fk = df_fk.filter(like = 'y_')
#df_fk.rename(columns = {"x_*": } ,inplace = True)
df_x_fk

,x_f=0.018_K=1.0,x_f=0.1_K=1.0,x_f=0.2_K=1.0,x_f=0.05_K=2.0,x_f=0.1_K=2.0,x_f=0.2_K=2.0,x_f=0.01_K=5.0,x_f=0.015_K=5.0,x_f=0.05_K=5.0,x_f=0.1_K=5.0,x_f=0.2_K=5.0,x_f=0.01_K=7.5,x_f=0.015_K=7.5,x_f=0.05_K=7.5,x_f=0.1_K=7.5
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,-0.001420,-0.000256,-0.000128,-0.000511,-0.000256,-0.000128,-0.002555,-0.001704,-0.000511,-0.000256,-0.000128,-0.002555,-0.001704,-0.000511,-0.000256
3,-0.002857,-0.000513,-0.000256,-0.001027,-0.000513,-0.000256,-0.005209,-0.003454,-0.001029,-0.000513,-0.000257,-0.005243,-0.003469,-0.001030,-0.000514
4,-0.004312,-0.000772,-0.000386,-0.001548,-0.000773,-0.000386,-0.007958,-0.005251,-0.001553,-0.000774,-0.000386,-0.008054,-0.005295,-0.001556,-0.000775
5,-0.005786,-0.001033,-0.000516,-0.002074,-0.001034,-0.000516,-0.010799,-0.007094,-0.002083,-0.001037,-0.000517,-0.010981,-0.007178,-0.002091,-0.001039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19997,-6.594653,1.793475,-0.034649,8.323397,2.279731,0.016443,2.861928,-3.555679,7.991664,2.616299,0.050921,9.286793,7.749776,7.819018,2.623296
19998,-6.595763,1.793534,-0.034743,8.323676,2.279867,0.016363,2.861927,-3.556788,7.991963,2.616406,0.050872,9.286031,7.749348,7.819342,2.623404
19999,-6.596842,1.793593,-0.034838,8.323962,2.280005,0.016283,2.861926,-3.557888,7.992267,2.616516,0.050822,9.285113,7.748933,7.819671,2.623515
20000,-6.597891,1.793653,-0.034934,8.324252,2.280144,0.016202,2.861925,-3.558980,7.992576,2.616627,0.050771,9.284045,7.748531,7.820006,2.623627
mean,-9.356846,0.561212,-0.076008,3.985056,0.873326,-0.043353,2.771696,-2.129504,3.848996,1.152315,-0.018623,7.522020,3.248452,3.766375,1.177032

In [419]:
df_x_fk.drop(range(1,20001))

f = []
k = []

for column_name in df_x_fk.columns:
    m = re.findall(r"\d.\d+",column_name)
    f.append(m[0])
    k.append(m[1])


disp = []
for xmean, ymean in zip (df_x_fk.columns,df_y_fk.columns):
    dis = np.sqrt(df_fk[xmean]["mean"]**2 + df_fk[ymean]['mean']**2)
    disp.append(dis)
i = 0

df_fk_total = pd.DataFrame(data = 0.0, columns = df_x_fk.columns, index = df_x_fk.columns)
for index_f , column_k in zip(df_x_fk.columns,df_x_fk.columns):
    df_fk_total[column_k][index_f] = disp[i]
    i+=1
    
f = [float(i) for i in f]
k = [float(i) for i in k]
df_fk_total.columns = k
df_fk_total.index = f

In [464]:
df_x_fk.drop(range(1,20001))

,x_f=0.018_K=1.0,x_f=0.1_K=1.0,x_f=0.2_K=1.0,x_f=0.05_K=2.0,x_f=0.1_K=2.0,x_f=0.2_K=2.0,x_f=0.01_K=5.0,x_f=0.015_K=5.0,x_f=0.05_K=5.0,x_f=0.1_K=5.0,x_f=0.2_K=5.0,x_f=0.01_K=7.5,x_f=0.015_K=7.5,x_f=0.05_K=7.5,x_f=0.1_K=7.5
mean,-9.356846,0.561212,-0.076008,3.985056,0.873326,-0.043353,2.771696,-2.129504,3.848996,1.152315,-0.018623,7.52202,3.248452,3.766375,1.177032

In [466]:
df_fk_total[1.0]

             1.0       1.0       1.0
0.018  12.702631  0.000000  0.000000
0.100   0.000000  0.564484  0.000000
0.200   0.000000  0.000000  0.077423
0.050   0.000000  0.000000  0.000000
0.100   0.000000  0.000000  0.000000
0.200   0.000000  0.000000  0.000000
0.010   0.000000  0.000000  0.000000
0.015   0.000000  0.000000  0.000000
0.050   0.000000  0.000000  0.000000
0.100   0.000000  0.000000  0.000000
0.200   0.000000  0.000000  0.000000
0.010   0.000000  0.000000  0.000000
0.015   0.000000  0.000000  0.000000
0.050   0.000000  0.000000  0.000000
0.100   0.000000  0.000000  0.000000

In [465]:
df_fk_total[1.0]

             1.0       1.0       1.0
0.018  12.702631  0.000000  0.000000
0.100   0.000000  0.564484  0.000000
0.200   0.000000  0.000000  0.077423
0.050   0.000000  0.000000  0.000000
0.100   0.000000  0.000000  0.000000
0.200   0.000000  0.000000  0.000000
0.010   0.000000  0.000000  0.000000
0.015   0.000000  0.000000  0.000000
0.050   0.000000  0.000000  0.000000
0.100   0.000000  0.000000  0.000000
0.200   0.000000  0.000000  0.000000
0.010   0.000000  0.000000  0.000000
0.015   0.000000  0.000000  0.000000
0.050   0.000000  0.000000  0.000000
0.100   0.000000  0.000000  0.000000

In [345]:
df_cp = df.copy()
df.loc['mean'] = df.mean()
df_x = df.filter(like = 'x_f=')
df_y = df.filter(like = 'y_f=')
df_x = df_x.drop(columns = ['x_f=0.01','x_f=0.012'])
df_y = df_y.drop(columns = ['y_f=0.01','y_f=0.012'])

column_list_fx = df_x.columns
column_list_fy = df_y.columns

displacement_f = []

for xmean, ymean in zip(column_list_fx,column_list_fy):
    dis_mean = np.sqrt(df[xmean]['mean']**2 + df[ymean]['mean']**2)
    
    displacement_f.append(dis_mean)

In [293]:
df.loc["displacement_per_piriod"] = 0

In [294]:
for column in df.columns:
    key = 1 / float(column[4:])
    if "f=" in column:
        df[column]["displacement_per_piriod"] = df[column]["mean"] / key
    elif "k=" in column:
        df[column]["displacement_per_piriod"] = df[column]["mean"] / 50.0
    else:
        print('ERROR NOTHING COLUMN')

In [295]:
df

,x_f=0.01,y_f=0.01,x_f=0.012,y_f=0.012,x_f=0.015,y_f=0.015,x_f=0.02,y_f=0.02,x_f=0.05,y_f=0.05,...,x_k=2.0,y_k=2.0,x_k=3.0,y_k=3.0,x_k=4.0,y_k=4.0,x_k=5.0,y_k=5.0,x_k=7.5,y_k=7.5
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,-0.002555,0.003267,-0.002129,0.002723,-0.001704,0.002178,-0.001278,0.001634,-0.000511,0.000653,...,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634
3,-0.005277,0.006626,-0.004376,0.005513,-0.003484,0.004402,-0.002600,0.003296,-0.001031,0.001314,...,-0.002574,0.003282,-0.002577,0.003284,-0.002580,0.003285,-0.002584,0.003287,-0.002592,0.003291
4,-0.008149,0.010054,-0.006732,0.008357,-0.005338,0.006666,-0.003967,0.004984,-0.001560,0.001981,...,-0.003889,0.004945,-0.003898,0.004950,-0.003908,0.004955,-0.003918,0.004960,-0.003943,0.004972
5,-0.011153,0.013528,-0.009187,0.011242,-0.007260,0.008963,-0.005376,0.006696,-0.002099,0.002656,...,-0.005222,0.006621,-0.005241,0.006631,-0.005261,0.006641,-0.005280,0.006651,-0.005328,0.006674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19998,-11.471530,-0.738158,-7.937544,-0.215912,11.335793,3.594244,16.484101,5.236983,7.653358,1.654102,...,-13.309212,-1.647910,2.835490,0.216507,9.475832,1.277579,12.603360,2.780732,15.539252,4.751130
19999,-11.471528,-0.738161,-7.937541,-0.215911,11.335644,3.597643,16.484672,5.239312,7.653711,1.654837,...,-13.310188,-1.644611,2.835484,0.219553,9.476213,1.280391,12.603723,2.783419,15.539701,4.753606
20000,-11.471527,-0.738163,-7.937538,-0.215910,11.335511,3.601071,16.485254,5.241663,7.654069,1.655579,...,-13.311144,-1.641308,2.835496,0.222610,9.476609,1.283219,12.604099,2.786123,15.540161,4.756102
mean,-7.593606,1.364197,-6.922926,-1.115985,4.935702,2.024923,7.806834,2.841596,3.683705,0.934099,...,-6.167762,-0.418191,1.358200,0.454662,4.483383,0.995142,5.961726,1.679475,7.358141,2.607233
displacement_per_piriod,-0.075936,0.013642,-0.083075,-0.013392,0.074036,0.030374,0.156137,0.056832,0.184185,0.046705,...,-0.123355,-0.008364,0.027164,0.009093,0.089668,0.019903,0.119235,0.033589,0.147163,0.052145

In [296]:
df_x = df.filter(like = 'x_k=')
df_y = df.filter(like = 'y_k=')

column_list_kx = df_x.columns
column_list_ky = df_y.columns

displacement_k = []

for xmean, ymean in zip(column_list_kx,column_list_ky):
    dis_mean = np.sqrt(df[xmean]['mean']**2 + df[ymean]['mean']**2)
    
    displacement_k.append(dis_mean)

In [297]:
column_list_k = [float(k[4:]) for k in column_list_kx]
column_list_f = [float(f[4:]) for f in column_list_fx]
column_list_kx = [k[2:] for k in column_list_kx]
column_list_fx = [f[2:] for f in column_list_fx]

In [298]:
column_list_k,column_list_f

([0.1, 0.5, 1.0, 10.0, 2.0, 3.0, 4.0, 5.0, 7.5],
 [0.015, 0.02, 0.05, 0.08, 0.1, 0.15, 0.2])

In [299]:
displacement_k,displacement_f

([0.005948450887561048,
  9.81441746238502,
  4.652683648956273,
  8.30790734252793,
  6.1819234435594215,
  1.432279171730088,
  4.592496945439909,
  6.1937719572159,
  7.806401272761775],
 [5.3349289932610775,
  8.30790734252793,
  3.8002927777721625,
  1.9693572428260893,
  1.1572277162187394,
  0.20173175343951505,
  0.00885280177821018])

In [300]:
df_k = pd.DataFrame(data = np.array(displacement_k).reshape(1,len(displacement_k)),columns =column_list_kx)
df_k.index = ['f=0.02']
df_f = pd.DataFrame(data = np.array(displacement_f))
df_f.index = column_list_fx
df_f.columns = ['k=10.0']
df_k

,k=0.1,k=0.5,k=1.0,k=10.0,k=2.0,k=3.0,k=4.0,k=5.0,k=7.5
f=0.02,0.005948,9.814417,4.652684,8.307907,6.181923,1.432279,4.592497,6.193772,7.806401

In [301]:
df_f.index = column_list_fx
df_f.columns = ['k=10.0']
df_f = df_f.drop('f=0.02',axis = 0)

In [302]:
df_total = pd.concat([df_k,df_f],axis = 0)
df_total.index

Index(['f=0.02', 'f=0.015', 'f=0.05', 'f=0.08', 'f=0.1', 'f=0.15', 'f=0.2'], dtype='object')

In [303]:
for f in df_total.index:
    df_total.rename(index = {f:float(f[2:])}, inplace = True)
for k in df_total.columns:
    df_total.rename(columns = {k: float(k[2:])}, inplace = True)
pd.to_csv("total_df.csv")

In [470]:
df_total
df_total.to_csv("total_df.csv")

In [471]:
df_total

,0.1,0.5,1.0,10.0,2.0,3.0,4.0,5.0,7.5
0.020,0.005948,9.814417,4.652684,8.307907,6.181923,1.432279,4.592497,6.193772,7.806401
0.015,NaN,NaN,NaN,5.334929,NaN,NaN,NaN,NaN,NaN
0.050,NaN,NaN,NaN,3.800293,NaN,NaN,NaN,NaN,NaN
0.080,NaN,NaN,NaN,1.969357,NaN,NaN,NaN,NaN,NaN
0.100,NaN,NaN,NaN,1.157228,NaN,NaN,NaN,NaN,NaN
0.150,NaN,NaN,NaN,0.201732,NaN,NaN,NaN,NaN,NaN
0.200,NaN,NaN,NaN,0.008853,NaN,NaN,NaN,NaN,NaN
0.018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [469]:
pwd

'/home/tokoro/Desktop/MicroBeatingRobot/MicroBeatingRobot/analyse'

## visualize

In [458]:
fig, ax = plt.subplots()



columns = list(df_total.columns)
index_list = list(df_total.index)

x=[]
y=[]
z=[]
for column in columns:
    for index in index_list:
        ax.scatter(column, index, df_total[column][index], color = "blue")
        
        #x.append(column)
        #y.append(index)
        #z.append(df_total[column][index])
ax.set_xlabel('K')
ax.set_ylabel('frec')
ax.set_zlabel('displacement')
i = 0
for ff, kk in zip(f,k):
    ax.scatter(kk,ff,disp[i],color = 'r')
    #x.append(ff)
    #y.append(kk)
    #z.append(disp[i])
    i+= 1

In [442]:
ax

[0.018,
 0.1,
 0.2,
 0.05,
 0.1,
 0.2,
 0.01,
 0.015,
 0.05,
 0.1,
 0.2,
 0.01,
 0.015,
 0.05,
 0.1]

In [443]:
k

[1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 5.0, 5.0, 5.0, 5.0, 5.0, 7.5, 7.5, 7.5, 7.5]

In [444]:
disp

[12.70263099513784,
 0.5644844412748087,
 0.07742343057242825,
 4.084708618809875,
 0.8736282931211038,
 0.04337928744536004,
 2.9762074498774753,
 2.140670241592066,
 3.9551724223254396,
 1.1551634814711256,
 0.02182384230511174,
 7.56357944551816,
 3.515252050768621,
 3.876635002605038,
 1.1825643225591207]

In [439]:
dfdf = df_fk_total.dropna()

In [472]:
dfdf

,1.0,1.0,1.0,2.0,2.0,2.0,5.0,5.0,5.0,5.0,5.0,7.5,7.5,7.5,7.5
0.018,12.702631,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.100,0.000000,0.564484,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.200,0.000000,0.000000,0.077423,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.050,0.000000,0.000000,0.000000,4.084709,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.100,0.000000,0.000000,0.000000,0.000000,0.873628,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.200,0.000000,0.000000,0.000000,0.000000,0.000000,0.043379,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.976207,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.14067,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.050,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,3.955172,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0.100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.155163,0.000000,0.000000,0.000000,0.000000,0.000000
0.200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.021824,0.000000,0.000000,0.000000,0.000000
0.010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,7.563579,0.000000,0.000000,0.000000
0.015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.515252,0.000000,0.000000
0.050,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,3.876635,0.000000
0.100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.182564