### library import

In [293]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import re
%matplotlib tk

### Generate DataFrame

In [352]:
path = "/home/tokoro/Desktop/MicroBeatingRobot/MicroBeatingRobot/Databank"
files = glob.glob(path + "/data_displacement_k*.csv")
files.sort()
df_list = []
for data in files:
    df = pd.read_csv(data)
    numid = re.findall("k=.*c" ,data)
    df = df.rename(columns={"displacement_x":"x_" + str(numid[0])[0:-2],"displacement_y":"y_"+ str(numid[0])[0:-2] })
    df_list.append(df)
df = pd.concat(df_list,axis = 1)
df = df.drop(['step', 'displacement_z'],axis = 1)
df = df.drop(index = 0)
for column_x, column_y in zip(df.filter(like = 'x_'), df.filter(like = 'y_')):
    df[column_x] -= 2
    df[column_y] += 2

In [353]:
df

,x_k=0.1,y_k=0.1,x_k=0.5,y_k=0.5,x_k=1.0,y_k=1.0,x_k=10.0,y_k=10.0,x_k=2.0,y_k=2.0,x_k=3.0,y_k=3.0,x_k=4.0,y_k=4.0,x_k=5.0,y_k=5.0,x_k=7.5,y_k=7.5
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.009888,0.006615,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634,-0.001278,0.001634
3,NaN,NaN,-0.002569,0.003279,-0.002571,0.003280,-0.002600,0.003296,-0.002574,0.003282,-0.002577,0.003284,-0.002580,0.003285,-0.002584,0.003287,-0.002592,0.003291
4,NaN,NaN,-0.003874,0.004937,-0.003879,0.004939,-0.003967,0.004984,-0.003889,0.004945,-0.003898,0.004950,-0.003908,0.004955,-0.003918,0.004960,-0.003943,0.004972
5,NaN,NaN,-0.005192,0.006606,-0.005202,0.006611,-0.005376,0.006696,-0.005222,0.006621,-0.005241,0.006631,-0.005261,0.006641,-0.005280,0.006651,-0.005328,0.006674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,NaN,NaN,-9.533877,14.088428,1.065221,-0.204285,16.482990,5.232389,-13.307200,-1.654490,2.835555,0.210451,9.475115,1.271998,12.602673,2.775413,15.538386,4.746238
19997,NaN,NaN,-9.532738,14.087107,1.063921,-0.202535,16.483540,5.234676,-13.308216,-1.651203,2.835514,0.213473,9.475466,1.274781,12.603010,2.778064,15.538814,4.748674
19998,NaN,NaN,-9.531585,14.085789,1.062615,-0.200777,16.484101,5.236983,-13.309212,-1.647910,2.835490,0.216507,9.475832,1.277579,12.603360,2.780732,15.539252,4.751130
19999,NaN,NaN,-9.530419,14.084472,1.061303,-0.199011,16.484672,5.239312,-13.310188,-1.644611,2.835484,0.219553,9.476213,1.280391,12.603723,2.783419,15.539701,4.753606
20000,NaN,NaN,-9.529240,14.083157,1.059985,-0.197236,16.485254,5.241663,-13.311144,-1.641308,2.835496,0.222610,9.476609,1.283219,12.604099,2.786123,15.540161,4.756102

In [357]:
df_cp = df.copy()
df.loc['mean'] = df.mean()
df_x = df.filter(like = 'x_k=')
df_y = df.filter(like = 'y_k=')

In [355]:
df_y.describe()

,y_k=0.1,y_k=0.5,y_k=1.0,y_k=10.0,y_k=2.0,y_k=3.0,y_k=4.0,y_k=5.0,y_k=7.5
count,4.000000,20002.000000,20002.000000,20002.000000,20002.000000,20002.000000,20002.000000,20002.000000,20002.000000
mean,0.001654,4.722862,4.632396,2.841596,-0.418191,0.454662,0.995142,1.679475,2.607233
std,0.004270,4.717587,3.499327,1.610272,0.651557,0.429812,0.561797,0.930415,1.479502
min,-0.003308,-0.561811,-0.431345,-0.101107,-1.856381,-0.278289,-0.237482,-0.203203,-0.137920
25%,-0.000827,0.631331,1.084559,1.443775,-0.885587,0.048245,0.586173,0.922805,1.354753
50%,0.001654,2.935827,4.426777,2.823863,-0.405376,0.441212,1.000216,1.671698,2.613778
75%,0.004135,8.611133,8.299871,4.202935,0.069123,0.861274,1.404453,2.418126,3.874981
max,0.006615,14.204172,10.197787,5.868364,0.885002,1.226327,2.199139,3.612209,5.443362

In [356]:
df.loc['mean']

x_k=0.1     0.004944
y_k=0.1     0.003308
x_k=0.5    -8.603334
y_k=0.5     4.722862
x_k=1.0    -0.434013
y_k=1.0     4.632397
x_k=10.0    7.806834
y_k=10.0    2.841596
x_k=2.0    -6.167762
y_k=2.0    -0.418191
x_k=3.0     1.358200
y_k=3.0     0.454662
x_k=4.0     4.483383
y_k=4.0     0.995142
x_k=5.0     5.961726
y_k=5.0     1.679475
x_k=7.5     7.358141
y_k=7.5     2.607233
Name: mean, dtype: float64

In [343]:
column_list_x = df_x.columns
column_list_y = df_y.columns
column_list_x

Index(['x_k=0.1', 'x_k=0.5', 'x_k=1.0', 'x_k=10.0', 'x_k=2.0', 'x_k=3.0',
       'x_k=4.0', 'x_k=5.0', 'x_k=7.5'],
      dtype='object')

In [345]:
displacement = []

for xmean, ymean in zip(column_list_x,column_list_y):
    dis_mean = np.sqrt(df[xmean]['mean']**2 + df[ymean]['mean']**2)
    
    displacement.append(dis_mean)

print(displacement)

[2.829590202390706, 7.142688804802422, 3.0629766795833113, 9.842879352998136, 4.818494845915812, 3.6966976702564236, 6.560791819816276, 7.968175204060254, 9.37782126351963]

In [347]:
k = []

for kx in column_list_x:
    value = kx[4:]
    k.append(float(value))

print(k)

[0.1, 0.5, 1.0, 10.0, 2.0, 3.0, 4.0, 5.0, 7.5]

In [348]:
df_mean = pd.DataFrame(k, columns = ['k'])
df_mean['mean_displacement'] = displacement
df_mean = df_mean.sort_values('k')
df_mean.set_index('k', inplace = True)
df_mean

      mean_displacement
k
0.1            2.829590
0.5            7.142689
1.0            3.062977
2.0            4.818495
3.0            3.696698
4.0            6.560792
5.0            7.968175
7.5            9.377821
10.0           9.842879

In [349]:
df_mean.index

Float64Index([0.1, 0.5, 1.0, 2.0, 3.0, 4.0, 5.0, 7.5, 10.0], dtype='float64', name='k')

In [351]:
fig, ax = plt.subplots()

ax.plot(df_mean,color = "#1f77b4",zorder = 1)
ax.scatter(df_mean.index ,df_mean["mean_displacement"],color = "#ff7f0e", marker = "o", zorder = 2)
ax.set_xlabel('k')
ax.set_ylabel('mean_displacement')
ax.grid()
plt.savefig('k_displacement.png')
plt.show()

In [307]:
df_x_cp = df_x.drop(columns = ['x_k=0.1','x_k=0.5'])
df_y_cp = df_y.drop(columns = ['y_k=0.1','y_k=0.5'])
column_list_x = df_x_cp.columns
column_list_y = df_y_cp.columns
column_list_x

Index(['x_k=1.0', 'x_k=10.0', 'x_k=2.0', 'x_k=3.0', 'x_k=4.0', 'x_k=5.0',
       'x_k=7.5'],
      dtype='object')

In [340]:
fig, ax = plt.subplots()
for x, y in zip (column_list_x,column_list_y):
    
    numid = re.findall(r"\d.\d" ,x)
    ax.plot(df_cp[x],df_cp[y], label = "k={}".format(numid[0]))
    ax.set_xlabel('x_displacement')
    ax.set_ylabel('y_displacement')
    ax.set_xlim([-4,15])
    ax.set_ylim([-3,10])
    
    
    ax.legend()
    ax.set_title("MicroRobot trejectory")
    plt.savefig('trajection/trajection_all.png')
    plt.show()

In [339]:

for x, y in zip (column_list_x,column_list_y):
    fig, ax = plt.subplots()
    numid = re.findall(r"\d.\d" ,x)
    ax.plot(df_cp[x],df_cp[y])
    ax.set_xlabel('x_displacement')
    ax.set_ylabel('y_displacement')
    ax.set_xlim([-4,15])
    ax.set_ylim([-3,10])
    
    
    #ax.legend()
    ax.set_title("MicroRobot trejectory" + numid[0])
    plt.savefig('trajection/trajection_K={}.png'.format(numid[0]))
    plt.show()